LOCAL_URL="http://127.0.0.1:8000"
PRODUCTION_URL="http://127.0.0.1:8000"
ENV="local"
NAME="MyProject"


LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="MyLangsmithProject"
