## Agent settings
AGENT_PRODUCTION_URL=""
AGENT_LOCAL_URL = "http://127.0.0.1:2024"
AGENT_ENV= "local"

## API Key
### APIKEY Needed for agent production
LANGSMITH_API_KEY=""

## Backend settings 
PRODUCTION_URL= ""
LOCAL_URL = "http://localhost:8010"
MODE="local"

# Other general settings
SHOW_SOURCES= true
